body{
    background-color: #e7f9ff;
    color: #3c3c3c;
}

/*  Navbar */
nav {
  position: sticky;
  top: 0;
  backdrop-filter: blur(6px);
}

.nav-custom {
    border-top: 1px solid #6bd9fd;
    border-bottom: 1px solid #6bd9fd;
}
.nav-custom .nav-link {
  color: #333;
  margin: 0 18px;         
  font-weight: 500;
  transition: color .2s, border-bottom .2s, opacity .2s;
  border-bottom: 2px solid transparent;
  padding-bottom: .25rem;
}
.nav-custom .nav-link:hover {
  color: #6bd9fd;
  opacity: .9;
}

#introduccion h1 {
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

#introduccion span {
  color: #fffcc6;
  text-shadow: 1px 1.5px 4px rgba(0, 0, 0, 0.4);
}

#introduccion p {
  margin-top: 1rem;
  font-size: 18px;
  font-weight: 600;
}

h2 {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  margin-bottom: 2rem;
}

.card {
  width: 400px;
  height: 300px;
  background: #fff;
  border: 2px solid #323232;
  box-shadow: 4px 4px #323232;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  gap: 10px;
}

.table {
  border: 2px solid #323232;
  box-shadow: 4px 4px #323232;
  border-radius: 5px;
}